<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TESTE JUNGLE</title>
  </head>
  <script type="text/javascript">
  function say_hello() {
    var say = 'T E S T E !'
    alert(say);
  }
  </script>
  <body onload="say_hello();">
    <div>
    <h1><a href="/">Vile Blog</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
  </body>
</html>
